<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
      <div class="item">
          <h1><%= title %></h1>
          <p>The backend api provider of RESTful.</p>
      </div>
  </body>
</html>
