html {
  height: 100%;
}

body {
  background-color: #C1CDCD;
  min-height: 80%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a{margin-left: 20px; text-decoration: none;}

a:hover{text-decoration: underline;}
